/* Główny arkusz stylów */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    font-family: "Bricolage Grotesque", sans-serif;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}